@charset "utf-8";
@import url('style.css');
* {font-size:15px; color:#888888;}
input[readonly="readonly"] {background-color: #888888 !important;}
input[type="checkbox"] + label > span {position: relative; display: inline-block; width:18px; height:18px; background:url("../images/icon/id_icon_off.png") no-repeat; vertical-align: middle; margin-right:5px; cursor:pointer;}
input[type="checkbox"]:checked + label > span {background:url("../images/icon/id_icon_on_04.png") no-repeat;}
/*로그인 Start*/
div.login_area {width:100%; height:100%; position: relative; overflow: hidden;}
div.login_area div.login_body {float:left; width:55%; height:100%; position: relative; background:#17181A;}
div.login_area div.login_form {width:390px; height:507px; position: absolute; left:50%; top:50%; margin-left:-195px; margin-top:-270px;}
div.login_area div.login_form h1 {text-align: center; margin-bottom:34px; background: url("../images/white_logo.png") no-repeat center center; background-size: 227px 30px; height:30px; width:100%;}
div.login_area div.login_form ul.login_input {width:100%; position: relative;}
div.login_area div.login_form ul.login_input li {padding-bottom:18px;}
div.login_area div.login_form ul.login_input li.input span {display: block; font-size:15px; color:#888888; padding-bottom:10px;}
div.login_area div.login_form ul.login_input li input[type="text"],
div.login_area div.login_form ul.login_input li input[type="password"]  {border:none; width:390px; height:48px; border-radius: 5px; padding:0 10px; background:#202123;}
div.login_area div.login_form ul.login_input li input[type="checkbox"] {display:none;}
div.login_area div.login_form ul.login_input li input[type="checkbox"] + label {color:#888;}
div.login_area div.login_form ul.login_input li input[type="checkbox"] + label > span {position: relative; display: inline-block; width:18px; height:18px; background:url("../images/icon/id_icon_off.png") no-repeat; vertical-align: middle; margin-right:5px;}
div.login_area div.login_form ul.login_input li input[type="checkbox"]:checked + label > span {background:url("../images/icon/id_icon_on_04.png") no-repeat;}
div.login_area div.login_form ul.login_input li button {width:390px; height:48px; font-size:16px; border-radius: 5px;}
div.login_area div.login_form ul.login_input li label {font-size:15px;}
div.login_area div.login_form ul.login_input li:nth-child(4) button,
div.login_area div.login_form ul.login_input li:nth-child(4) input[type="submit"] {background:#0095F6; color:#fff;}
div.login_area div.login_form ul.login_input li:nth-child(4) button:hover,
div.login_area div.login_form ul.login_input li:nth-child(4) input[type="submit"]:hover {background:#5674C8;}
div.login_area div.login_form ul.login_input li:nth-child(5) button,
div.login_area div.login_form ul.login_input li:nth-child(5) input[type="submit"] {border:1px solid #888; color:#888; background:none;}
div.login_area div.login_form ul.login_input li:nth-child(5) button:hover,
div.login_area div.login_form ul.login_input li:nth-child(5) input[type="submit"]:hover {border:1px solid #fff; color:#fff;}
div.login_area div.login_form div.user_find {padding-top:20px; text-align: center;}
div.login_area div.login_form div.user_find a {font-size:15px;}
div.login_area div.login_form div.user_find a:hover {text-decoration: underline;}
div.login_area div.login_form div.user_find span {padding:0 23px; font-size:15px;}
/*공지사항 Start*/
div.login_area div.notice_body {background:#202123; width:45%; height:100%; float:right;  display: table; table-layout : fixed;} 
div.login_area div.notice_body h1 {font-family:Poppins,sans-serif; color:#fff; font-size:80px; font-weight:200; text-align: center; line-height: 1; display: table-cell; vertical-align: middle;}
div.login_area div.notice_body h1 span {font-weight:100; font-size:50px; color:#fff;}
div.login_area div.notice_body h1 strong  {font-weight:400; font-size:50px; color:#fff;}
/*공지사항 End*/
div.login_bottom {width:100%; line-height:70px; background:#202123; position: fixed; bottom:0px; left:0px; border-top:1px solid #4D4D4F; text-align: center;}
div.login_bottom a, div.login_bottom span {font-size:13px; }
div.login_bottom span {padding:0 18px;}
/*로그인 End*/

/*헤더영역*/
header {position: absolute; width:100%; z-index:3; top:0px; left:0px;}
header div.info {width:100%; height:60px; line-height:60px; background:url("../images/white_logo.png") no-repeat 15px 15px #17181A;}
header div.info ul {float:right; overflow:hidden;}
header div.info ul li {float:left; margin:0 15px;}
header div.info ul li:first-child span {color:#fff; width:180px; line-height:34px; border-radius: 50px; background:none; display: inline-block; text-align: center; font-size:16px;}
header div.info ul li a {vertical-align: middle;}
header div.info ul li.wifi a {width:32px; height:25px; display: inline-block; background:url("../images/icon/wifi_icon_wh_01.png") no-repeat center center; background-size: 32px 25px;}
header div.info ul li.info {margin:0px; padding:0 22px;}
header div.info ul li.info a {width:25px; height:25px; display: inline-block; background:url("../images/icon/info_icon_wh_02.png") no-repeat center center; background-size: 25px 25px;}
header div.info ul li.logout a {width:25px; height:24px; display: inline-block; background:url("../images/icon/info_icon_wh_01.png") no-repeat center center; background-size: 25px 24px;}
header div.info ul li.myinfo a {width:18px; height:25px; display: inline-block; background:url("../images/icon/info_icon_wh_03.png") no-repeat center center; background-size: 18px 25px;}
header div.info ul li.sitemap a {width:23px; height:19px; display: inline-block; background:url("../images/icon/menu_icon_wh_01.png") no-repeat center center; background-size: 23px 19px;}
header div.info ul li:last-child {width:60px; height:60px; text-align: center; margin-right:0px; border-left:1px solid #414243;}

header div.page_navi {width:100%; height:60px; padding:0 40px; display: table; table-layout: fixed; background:#202123;}
header div.page_navi div.page_items {display:table-cell; vertical-align: middle;}
header div.page_navi a,
header div.page_navi span {font-size:15px; color:#888888;}
header div.page_navi span.on {color:#fff; background:#2D2E30; border:1px solid #888888; padding:5px 10px; border-radius: 5px;}
header div.page_navi span.arrow {margin:0 18px; background:url("../images/icon/nav_arrow_01.png") no-repeat; background-size:6px 12px; width:6px; height:12px; display: inline-block;}
header div.page_navi a {font-size:15px; margin-right:18px; display: inline-block; padding:0 10px; line-height:32px; text-align: center; border-radius: 5px; border:1px solid #202123;}
header div.page_navi a:hover, header div.page_navi a.on {color:#fff; background:#2D2E30; border:1px solid #888888}

section {background:#17181A;}
div#menu {position: absolute; width:210px; min-height:100%; background:#202123; left:0px; top:0px; padding-top:120px; z-index: 2;}
div#menu ul.main {position: inherit; width:100%; height:100%; padding-top: 20px;}
div#menu ul.main li.m {width:100%; line-height:52px; background-repeat: no-repeat; background-position: 25px center; border-left:6px solid #202123;}
div#menu ul.main li.m span {cursor: pointer; padding-left:58px; color:#888;}
div#menu ul.main li.m:hover, div#menu ul.main li.m.on {border-left:6px solid #202123; background-color:#2D2E30;}
div#menu ul.main li.m:hover span, div#menu ul.main li.m.on span {color:#fff; display: block;}
div#menu ul.main li.m:nth-child(1) {background-image: url("../images/icon/menu_icon_v4_off_01.png");}
div#menu ul.main li.m:nth-child(2) {background-image: url("../images/icon/menu_icon_v4_off_02.png");}
div#menu ul.main li.m:nth-child(3) {background-image: url("../images/icon/menu_icon_v4_off_03.png");}
div#menu ul.main li.m:nth-child(4) {background-image: url("../images/icon/menu_icon_v4_off_04.png");}
div#menu ul.main li.m:nth-child(5) {background-image: url("../images/icon/menu_icon_v4_off_05.png");}
div#menu ul.main li.m:nth-child(6) {background-image: url("../images/icon/menu_icon_v4_off_06.png");}
div#menu ul.main li.m:nth-child(7) {background-image: url("../images/icon/menu_icon_v4_off_07.png");}
div#menu ul.main li.m:nth-child(8) {background-image: url("../images/icon/menu_icon_v4_off_08.png");}
div#menu ul.main li.m:nth-child(9) {background-image: url("../images/icon/menu_icon_v4_off_09.png");}
div#menu ul.main li.m:nth-child(1):hover, div#menu ul.main li.m:nth-child(1).on {background-image: url("../images/icon/menu_icon_v4_on_01.png");}
div#menu ul.main li.m:nth-child(2):hover, div#menu ul.main li.m:nth-child(2).on {background-image: url("../images/icon/menu_icon_v4_on_02.png");}
div#menu ul.main li.m:nth-child(3):hover, div#menu ul.main li.m:nth-child(3).on {background-image: url("../images/icon/menu_icon_v4_on_03.png");}
div#menu ul.main li.m:nth-child(4):hover, div#menu ul.main li.m:nth-child(4).on {background-image: url("../images/icon/menu_icon_v4_on_04.png");}
div#menu ul.main li.m:nth-child(5):hover, div#menu ul.main li.m:nth-child(5).on {background-image: url("../images/icon/menu_icon_v4_on_05.png");}
div#menu ul.main li.m:nth-child(6):hover, div#menu ul.main li.m:nth-child(6).on {background-image: url("../images/icon/menu_icon_v4_on_06.png");}
div#menu ul.main li.m:nth-child(7):hover, div#menu ul.main li.m:nth-child(7).on {background-image: url("../images/icon/menu_icon_v4_on_07.png");}
div#menu ul.main li.m:nth-child(8):hover, div#menu ul.main li.m:nth-child(8).on {background-image: url("../images/icon/menu_icon_v4_on_08.png");}
div#menu ul.main li.m:nth-child(9):hover, div#menu ul.main li.m:nth-child(9).on {background-image: url("../images/icon/menu_icon_v4_on_09.png");}
div#menu ul.main ul.sub_depth1 {position: absolute; width:0px; height:100%; background:#202123; top:0px; left:-1000%; padding-top:20px;}
div#menu ul.main ul.sub_depth1.open {box-shadow:5px 5px 5px 5px rgb(0 0 0 / 6%);}
div#menu ul.main ul.sub_depth1.open li {display:block; background:url("../images/border_wh_bg.png") no-repeat bottom center;}
div#menu ul.main ul.sub_depth1 li {display:none;}
div#menu ul.main ul.sub_depth1 li dl dt  {background:none; color:#888; font-size:15px; background:url("../images/icon/submenu_arrow_down.png") no-repeat 90% center; padding-left:24px; cursor: pointer;}
div#menu ul.main ul.sub_depth1 li dl dt.on {background:url("../images/icon/submenu_arrow_up.png") no-repeat 90% center;}
div#menu ul.main ul.sub_depth1 li dl dd {display:none;}
div#menu ul.main ul.sub_depth1 li dl dd ul li {line-height:38px; padding-left:39px; background:none !important}
div#menu ul.main ul.sub_depth1 li dl dd ul li a {color:#888;}
div#menu ul.main ul.sub_depth1 li dl dd ul li:hover {background:#2D2E30 !important;}
div#menu ul.main ul.sub_depth1 li dl dd ul li:hover a {color:#fff;}

/*레이어 팝업*/
div#cp_layer {box-shadow: -14px 0 25px #6e6e6e; border-left: 4px solid #888;}
div#cp_layer div.cp_layer_top h1 {color:#fff; background:#202123; border-bottom: 1px solid #888;}
div#cp_layer div.cp_layer_body {background:#202123; color:#fff}
div#cp_layer div.cp_layer_body * {color:#fff;}
/*div#cp_layer div.cp_layer_top ul.cp_layer_controll li:nth-child(1) a {background:url("../images/icon/ctrl_wh_01.png") no-repeat;}*/
div#cp_layer div.cp_layer_top ul.cp_layer_controll li:nth-child(1) a {background:url("../images/icon/ctrl_wh_04.png") no-repeat;}
div#cp_layer div.cp_layer_top ul.cp_layer_controll li:nth-child(2) a {background:url("../images/icon/ctrl_wh_02.png") no-repeat;}
div#cp_layer div.cp_layer_top ul.cp_layer_controll li:nth-child(3) a {background:url("../images/icon/ctrl_wh_03.png") no-repeat;}

/*alert, confirm*/
.swal2-title {background:#202123 !important; color:#AAAAAA !important; border:1px solid #707070;}
[class^=swal2] {color:#ccc !important;}
.swal2-show {background:#202123 !important; border:1px solid #707070 !important; border-top:0px;}
.swal2-icon.swal2-question {border-color:#fff !important;}
.swal2-icon .swal2-icon-content {color:#fff;}
.swal2-styled.swal2-confirm {border-color:none !important; background:#0095F6 !important; color:#fff !important; }
.swal2-icon.swal2-error {border-color:#fff !important; color:#fff !important;}
.swal2-icon.swal2-error [class^=swal2-x-mark-line] {background-color:#fff !important;}
.swal2-icon.swal2-info {border-color: #fff !important; color: #fff !important;}
.swal2-icon.swal2-success .swal2-success-ring {border: 0.25em solid #fff !important;}
.swal2-icon.swal2-success [class^=swal2-success-line] {background-color: #fff !important;}
.swal2-icon.swal2-warning {border-color: #fff !important; color: #fff !important;}
.swal2-icon.swal2-success [class^=swal2-success-circular-line] {background:none !important;}
.swal2-icon.swal2-success .swal2-success-fix {background:none !important;}

/*input, select, button 스타일*/
input::placeholder {color:#AAAAAA;}
input[readonly] {background:#3C3D3F;}
select > option {color:#fff;}
.type_small {background:#2D2E30; border:1px solid #888888; color:#fff;}
.type_01 {background:#2D2E30; border:1px solid #888888; color:#fff;}
.type_02 {background:#2D2E30; border:1px solid #888888; color:#fff;}
.type_03 {background:#2D2E30; border:1px solid #888888; color:#fff;}
.type_04 {border:1px solid #888888; background:#2D2E30;}
.type_05 {border:1px solid #888888; background:#2D2E30;}
.type_06 {border:1px solid #888888; background:none;}
.type_07 {border:1px solid #888888; background:none;}
.type_100p {border:1px solid #888888; background:none;}
.btn_01 {background:#0095F6; color:#fff;}
.btn_02 {border:1px solid #0095F6; color:#0095F6;}
.btn_03 {border:1px solid #C4074E; color:#C4074E;}
/*버튼 다운로드 아이콘*/
.download {background:url("../images/icon/download_icon.png") no-repeat 93% center; padding-right:30px;}
/*버튼 업로드 아이콘*/
.upload {background:url("../images/icon/upload_icon.png") no-repeat 93% center; padding-right:30px;}
/*버튼 초기화 아이콘*/
.refresh {background:url("../images/icon/refresh_icon.png") no-repeat 93% center; padding-right:30px;}
/*input 달력 아이콘*/
.date {background:url("../images/icon/date_icon.png") no-repeat 93% center; padding-right:30px;}
/*input 검색 아이콘*/
.find {background:url("../images/icon/search_icon.png") no-repeat 93% center; padding-right:30px;}


div#page span.page_prev > a {color:#fff;}
div#page span.page_next > a {color:#fff;}
div#page > a {font-size:13px; color:#fff;}
div#page > a:hover {background:#2D2E30; color:#ffffff;}
div#page > a.on {background:#2D2E30; color:#ffffff;}

/*리스트 공통*/
div.data_list {width:100%; position: relative;}
div.data_list h1.title {font-size:20px; color:#fff; padding-bottom:20px;}
div.data_list div.search {width:100%; position: relative; padding:20px 10px; background:#2D2E30; border-radius: 5px; border:none;}
div.data_list div.search span {color:#fff; font-size:14px;}
ul.action {overflow: hidden; position: relative; width:100%; padding:20px 0 0;}
ul.action li.default {width:100%; text-align: left;}
ul.action li.left {float: left; text-align: left;}
ul.action li.right {float: right; text-align: right;}
div.grid_list {margin-top:20px;}
ul.grid_option {padding:20px 10px; background:#2D2E30; text-align: right; min-height:74px; border:none;}
ul.grid_option li.default {width:100%; text-align: left;}
ul.grid_option li.left {float: left; text-align: left;}
ul.grid_option li.right {float: right; text-align: right;}
ul.drop_btn {position:relative; display:inline-block; margin-right:5px; background:#2D2E30}
ul.drop_btn dt {border:1px solid #888888; color:#BBBBBB !important; background:url("../images/icon/drop_arr_off.png") 97% 50% #2D2E30 no-repeat; height:25px; line-height:25px; border-radius:3px; padding:0 50px 0 10px !important; cursor:pointer; font-weight:400 !important; font-size:13px !important;}
ul.drop_btn dt:hover {border:1px solid #888888; color:#fff !important;}
ul.drop_btn dd {position:absolute; left:-20px; z-index:99; background:#2D2E30; border:1px solid #888888; display:inline-block; min-width:150px; display:none; text-align:left; padding:10px 0;}
ul.drop_btn dd a {display:block; height:25px; line-height:25px; padding:0 10px; font-size:13px; text-align:left; font-weight:400; vertical-align:middle; border:1px solid #2D2E30; color:#BBBBBB;}
ul.drop_btn dd a img {vertical-align:middle; margin-bottom:2px; margin-right:10px;}
ul.drop_btn li:hover dd {display:block;}
ul.drop_btn dd a:hover {border:1px solid #38424c; color:#fff;}
#GridResult {color:#fff;}
#GridDataInfo {color:#fff;}

/*그리드*/
.aui-grid {background:#2D2E30 !important;}
.aui-grid-default-header {background:#3C3D3F !important; border-right:1px solid #707070 !important; border-bottom:1px solid #707070 !important;}
.aui-grid {border:1px solid #707070 !important;}
.aui-grid-renderer-base span {color:#EEEEEE;}
.aui-grid-body-panel .aui-grid-table tr td {background:#3C3D3F !important; border-right:1px solid #707070 !important; border-bottom:1px solid #707070 !important;}
.aui-grid-renderer-base {color:#BBBBBB;}
.aui-grid-footer-panel .aui-grid-table tr td {background:#3C3D3F !important; border-right:1px solid #707070 !important; border-bottom:1px solid #707070 !important;}

/*상세보기*/
.theme-css {background:#17181A;}
table.popup_table {width:100%; position:relative}
table.popup_table tr th {background:#2D2E30; padding:20px; font-size:14px; color:#fff; text-align:left; border:1px solid #707070;}
table.popup_table tr td {border:1px solid #707070; padding:10px; background:#2D2E30;}

/*비밀번호 변경*/
div#UserPasswordChange div.contents {background:#2D2E30;}
div#UserPasswordChange div.contents h1 {color:#0095F6;}
div#UserPasswordChange div.contents p.sub_text {color:#CCCCCC; border-bottom:1px solid #707070;}
div#UserPasswordChange div.contents dl dt {color:#fff;}
div#UserPasswordChange div.contents dl dd table {width:100%;}
div#UserPasswordChange div.contents dl dd table th {color:#CCCCCC;}
div#UserPasswordChange div.contents dl dd table input.default {background:#2D2E30; border: 1px solid #707070; color:#fff;}
div#UserPasswordChange div.contents dl dd table .btn_dafault {background:none; color: #0095F6; border: 1px solid #0095F6;}
div#UserPasswordChange div.button_type_01 button {background:#0095F6; color:#fff;}

/*아이디 찾기*/
div.user_id_body {background:#2D2E30;}
div#UserIdFindLayer div.user_id_body h1 {color:#0095F6;}
div#UserIdFindLayer div.user_id_body p {color:#CCCCCC; border-bottom:1px solid #707070;}
div#UserIdFindLayer div.user_id_body table input.default {background:#2D2E30; border: 1px solid #707070; color:#fff;}
div#UserIdFindLayer div.button_type_01 button {background:#0095F6; color:#fff;}

/*리스트 테이블*/
table.list_table thead th {background:#3C3D3F; height:36px; font-size:13px; font-weight:400; color:#fff; border:1px solid #707070; text-align:center;}
table.list_table tbody tr td {background:#2D2E30; height:36px; padding:0 10px; text-align:center; border:1px solid #707070; font-size:12px; color:#BBBBBB;}
table.list_table tbody tr td select {width:100%; height:26px; border:1px solid #888888; padding:0 10px; border-radius: 5px; font-size:12px; text-align:center; background:none; color:#fff;}
table.list_table tbody tr td select option {font-size:12px; background:#3C3D3F; text-align:center;}
table.list_table tbody tr td input[type="text"] {width:100%; height:26px; border:1px solid #888888; padding:0 10px; border-radius: 5px; font-size:12px; text-align:center;}
table.list_table tbody tr td button {height:26px; padding:0 20px; min-width:80px; border:1px solid #E23D77; color:#E23D77; border-radius: 5px; background:none; font-size:12px;}

.aui-ajax-loader-showing {background: #17181A url("../js/lib/AUIGrid/images/ajaxloader-blue.gif") no-repeat 50% 50% !important;}

/*회원가입*/
div.membership_area {background:#202123;}
div.membership_header {background-color: #17181A; background-image: url(../images/white_logo.png);}
div.membership_header span {background: #2F3031;}
ul.membership_step li {border:1px solid #535455;}
ul.membership_step li:last-child {border-right: 1px solid #535455;}
ul.membership_step li.on {background:none; border:1px solid #0095F6;}
ul.membership_step li.on + li{border-left:1px solid #0095F6;}
ul.membership_step li:last-child.on {border:1px solid #0095F6;}
ul.membership_step li.on dt {color:#0095F6;}
ul.membership_step li.on dd {color:#0095F6;}
ul.membership_step li.on::after {border-top: 1px solid #0095F6; border-right: 1px solid #0095F6;}
div.membership_agree {border:none; background:#2D2E30;}
div.membership_agree dl dt {color:#CCC;}
div.membership_agree dl dd {color:#888888;}
div.membership_agree table thead th {border:1px solid #535455; color:#CCCCCC;}  
div.membership_agree table tbody th {border:1px solid #535455; border-bottom:0px; border-right:0px; color:#CCCCCC;} 
div.membership_agree table tbody td {border:1px solid #535455; border-bottom:0px; border-left:0px; color:#CCCCCC;}
div.membership_agree table td a {color:#0095F6;}
div.membership_agree table tbody tr:last-child th,
div.membership_agree table tbody tr:last-child td {border-bottom:1px solid #535455;}
ul.member_btn li button.btn2 {background:#0095F6;}
div.terms_body {background:#2D2E30;}
div.terms_body h1 {color:#0095F6;}
div.terms_body textarea {color:#CCCCCC; background:#2D2E30;}
div.membership_form dl dt {color:#CCCCCC;}
div.membership_form dl dd {color:#888888;}
div.membership_form table th {color:#fff; background:#393A3C; border:1px solid #575859;}
div.membership_form table td {background:#2D2E30; border:1px solid #575859;}
div.membership_success {background:#2D2E30;}
div.membership_success h2 {background:url("../images/icon/success_icon.png") no-repeat center center;}
div.membership_success dl dt {color:#ccc;}
div.membership_success button {background:#0095F6;}

/*사이트맵*/
div#SiteMap {background:#17181A;}
div#SiteMap div.sitemap_wrap dl dt {color:#fff; background:#292A2C; line-height:45px; border-top:2px solid #6A6A6C;}
div#SiteMap div.sitemap_wrap dl dd h3 {color:#AAAAAA; border-bottom:1px solid #DADADA;}
div#SiteMap div.sitemap_wrap dl dd ul li {background:url("../images/icon/nav_arrow_01.png") no-repeat 92% center;}
div#SiteMap div.sitemap_wrap dl dd ul li a {color:#AAAAAA;}

/*파일첨부*/
div.file_box {background:#2D2E30; border:1px solid #707070;}
/*계산서*/
#etax_area_form .table_border_red th {color:#AAAAAA !important; background:#2D2E30;}
#etax_area_form .table_border_red th span {color:#AAAAAA !important;}
#etax_area_form .table_border_red th p {color:#AAAAAA !important;}
.table_border_red .tax_bg {background-color:#2D2E30 !important;}
#etax_area_form {border:2px solid #dfdfdf;}
#etax_area_form .table_border_red tbody th {border-top:1px solid #dfdfdf;}
#etax_area_form .table_border_red tbody th {border-left:1px solid #dfdfdf;}
.table_border_red .tax_b_03_t {border-top: 2px solid #dfdfdf !important;}
.table_border_red .tax_b_01_rt {border-top: 1px solid #dfdfdf !important; border-right: 1px solid #dfdfdf !important;}
.table_border_red .tax_b_02_t {border-top: 1px solid #dfdfdf !important;}
.table_border_red .tax_b_01_t {border-top: 1px solid #dfdfdf !important;}
.table_border_red .tax_b_01_r {border-right: 1px solid #dfdfdf !important;}

